<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="System.Security.Cryptography.Native.Apple" target="{dir}/System.Security.Cryptography.Native.Apple.dylib" />
  <dllmap dll="System.Security.Cryptography.Native.OpenSsl" target="{dir}/System.Security.Cryptography.Native.OpenSsl.dylib" />
</configuration>